<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="https://pbs.twimg.com/profile_images/1283914038/eightbit-cfebe69e-6709-48fe-b0dc-d32b4576a82a_400x400.png">
      <p>{{ site.description }} <br>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>
    </div>
  </div>
</footer>
